# Pliki generowane przez system i IDE
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

# Folder budowania (ogromne pliki tymczasowe)
/build
/captures

# Pliki natywne
.externalNativeBuild
.cxx

# Logi
*.log
